@import "@fontsource/silkscreen/400.css";
@import "@fontsource/silkscreen/700.css";
@import "@fontsource/rammetto-one";
@import "@fontsource-variable/source-code-pro";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/300-italic.css";
@import "@fontsource/poppins/500-italic.css";
@import "@fontsource/poppins/600-italic.css";
@import "@fontsource/poppins/700-italic.css";
@import "@fontsource/poppins/800-italic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100dvw;
    overflow-x: hidden;
    @apply font-sans;
  }
}
